**/__pycache__/**
dbt_xorq_project/target
dbt_xorq_project/logs
*.envrc
*.envrc.secrets
.direnv/
.pre-commit-config.yaml
logs/
**.egg-info/
profiles.yaml
warehouse/**
.vscode/**
snapshots/**
dbt_flight_project/.user.yml
dbt_flight_project/target/**
dbt_flight_project/*.parquet
default_db**
duckhouse**